header>nav>menu>li>a{
    color:#FF0000;
    text-decoration: none;

}
header{
    background: #111111;
    position: relative;
    height: 10vh;
}

header>nav>menu>li{
    display: inline-block;
    margin: 20px;
    position: relative;
    left: 280px;

}
main>section:nth-child(1)>aside>h1{
    color: white;

}
main>section:nth-child(1){
    height: 100vh;
    background: #111113;
}