header>nav>menu>li>a{
    color:#FF0000;
    text-decoration: none;

}
header{
    background: #111111;
    position: relative;
    height: 10vh;
}

header>nav>menu>li{
    display: inline-block;
    margin: 20px;
    position: relative;
    left: 540px;


}
main>section:nth-child(1)>h1:first-child{
    position: relative;
    color: white;
    font-size: 30px;
    bottom: -100px;
}

main>section:nth-child(1)>aside>h1{
    display: inline-block;
    color: white;

}
main>section:nth-child(1){
    height: 100vh;
    background: #111113;
}
main>section:nth-child(1){
    height: 100vh;
}
main>section:nth-child(1)>img{
    position: relative;
    left: 900px;
    bottom: -215px;
}
main>section:nth-child(1)>aside:nth-child(4){
    position: relative;
    display: inline-block;
    font-size: 26px;
    bottom: -200px;
   right: 240px;
}

main>section:nth-child(1)>aside:nth-child(5){
    position: relative;
    display: inline-block;
    font-size:  26px;
    bottom: -200px;
    left: 50px;
}
