header>nav>menu>li>a{

    color:#FF0000;
    text-decoration: none;

}
main{
    position: relative;
    top:0;
}
header{
    position: relative;
    background: #111111;
    height: 10vh;
    width: 98.5vw;
}

header>nav>menu>li{
    display: inline-block;
    margin: 27px;
    position: relative;
    left:  302px;
}
main>:nth-child(1){
    position: relative;
    display: inline-block;
    color: white;
    font-size: 30px;
    font-family: "Arial Black";
}
/*  mewa  h1 tag gym bike ewa */
main>section>:nth-child(4)>h1{

    position: relative;
    display: inline-block;
    color: white;
    font-size: 20px;
    bottom: -59px;
    left: 5vw;

}
main>section>:nth-child(3)>h1{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 20px;
    bottom: -7px;
    left: 168px;
    z-index: 1;
}

main>section:nth-child(1){
    height: 100vh;
    background: #111113;
}
main>section:nth-child(1){
    height: 114vh;
    width: 98.5vw;
}
main>section:nth-child(1)>img{
    position: relative;
    left: 867px;
    bottom: -203px;

}
#propic{
    /* image up */
    z-index: 5;
}
main>section:nth-child(1)>aside:nth-child(2){
    position: relative;
    display: inline-block;
    font-size: 26px;
    bottom:  -144px;
   right: 240px;
}

main>section:nth-child(1)>aside:nth-child(3){
    position: relative;
    display: inline-block;
    font-size:  26px;
    bottom: -144px;
    left: 50px;
}

main>section:nth-child(1){
    background: url("assest/img/hpm.png");
    background-size: cover;
    background-position: center;
}


/*            AboutMe             */


main>section:nth-child(2){
    position: relative;
    background: #111114;
    width: 98.5vw;
    height: 171vh;
    top:  2px;

}
/* create new  div  */
main>:nth-child(2)>:nth-child(7){
    position: absolute;
    height: 778px;
    width: 358px;
    left: 435px;
    top: 152px;
    border-radius: 30px;
    background: #AAAAAA29;

}

main>:nth-child(2)>h1{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 35px;
    top: -7px;
    left: 447px;
}
#rectangle{

    position:  relative;
    display:  inline-block;
    font-size: 23px;
    color: white;
    border-radius: 48px;
    width: 271px;
    height: 599px;
    left: 362px;
    border-radius: 48px;
    top: 82px;
}
/*   p born in  */
main>section:nth-child(2)>article>p:nth-child(1){
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: white;
    left: 616px;
    top: -482px;
}
main>section:nth-child(2)>article>p:nth-child(2){
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: white;
    left: 621px;
    top: -481px;
}
/*      email and contact  */

main>section:nth-child(2)>article>p:nth-child(4){
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: white;
    left: -365px;
    top: 256px;
}
main>section:nth-child(2)>article>p:nth-child(5){
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: white;
    left: -101px;
    top: 256px;
}
#st{
    position: relative;
    left: 870px;
    bottom: 229px;
    border-radius: 30px;
}
#ss{
    position: relative;
    right: 217px;
    top: -562px;
    border-radius: 30px;
}
#flag{
    position: relative;
    left: 407px;
    top: -809px;
}







/*          !*  Gallery  *!*/



main>section:nth-child(3){
    position: relative;
    background: rgba(17, 17, 20, 1);
    top: 5px;
    width: 98.5vw;
    height: 151vh;
);

}
main>:nth-child(3)>h1{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 45px;
    left: 588px;
    top: -19px;
}
main:nth-child(3)>aside>div{
    border: 1px solid black;
     height: 300px;
     width:  250px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}



main>section:nth-child(3)>aside>section{
    display: flex;
    justify-content: center;
}



main>section:nth-child(3)>aside>section>div{
    height: 200px;
    width: 200px;
}

main>section:nth-child(3)>aside>section:nth-child(1)>div:nth-child(1){
    border: 1px solid black;
    background: url("assest/img/1j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;


}
main>section:nth-child(3)>aside>section:nth-child(1)>div:nth-child(2){
    border: 1px solid black;
    background: url("assest/img/2j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(1)>div:nth-child(3){
    border: 1px solid black;
    background: url("assest/img/3j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(1)>div:nth-child(4){
    border: 1px solid black;
    background: url("assest/img/4j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(2)>div:nth-child(1){
    border: 1px solid black;
    background: url("assest/img/5j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(2)>div:nth-child(2){
    border: 1px solid black;
    background: url("assest/img/6j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(2)>div:nth-child(3){
    border: 1px solid black;
    background: url("assest/img/7j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(2)>div:nth-child(4){
    border: 1px solid black;
    background: url("assest/img/7j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(3)>div:nth-child(1){
    border: 1px solid black;
    background: url("assest/img/8j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(3)>div:nth-child(2){
    border: 1px solid black;
    background: url("assest/img/9j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(3)>div:nth-child(3){
    border: 1px solid black;
    background: url("assest/img/10j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}
main>section:nth-child(3)>aside>section:nth-child(3)>div:nth-child(4){
    border: 1px solid black;
    background: url("assest/img/11j.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 4px #ff253a;

}







/*            !*     Education  *!*/


main>section:nth-child(4){
    background: rgba(17, 17, 20, 1);
    position: relative;
    top: 8px;
    width: 98.5vw;
    height: 282vh;
}
main>:nth-child(4)>h1{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 45px;
    left: 588px;
    top: 16px;
}

main>section:nth-child(4)>article{
    display:flex ;
    flex-direction: column;
    align-items: center;
    background: #239bc2;
}

main>section:nth-child(4)>article>aside>div:nth-child(1) {
    width: 100px;
    height: 100px;
    background: #282424;
    transform: rotate(45deg);
    position: relative;
    top: 26px;
}
main>section:nth-child(4)>article>aside>:nth-child(2)>h2 {
    position: relative;
    left: 120px;
    top: -68px;
}

main>section:nth-child(4)>article>aside>div:nth-child(1)>h2 {
    transform: rotate(-45deg);
    position: relative;
    display: inline-block;
    top: 40px;
    left: 10px;
    margin: auto;
    z-index: 1;
}


main>section:nth-child(4)>article>aside>div:nth-child(2) {
    position: relative;
    left: 78px;
    top: -56px;
    width: 300px;
    height: 70px;
    background: #282424;
}


main>section:nth-child(4)>article>aside:nth-child(1)>div:nth-child(1){
    position: relative;
    top: 30px;
}
main>section:nth-child(4)>article>aside:nth-child(1)>div:nth-child(2)>img {
    position: relative;
    left: 35px;
    top: 1px;
    height: 65px;
    width: 65px;
}
main>section:nth-child(4)>article>aside>div:nth-child(2)>img {
    position: absolute;
    left: 41px;
    top: 5px;
    height: 60px;
    width: 60px;
}
#second {
    top: -77px;
}
#advance{
    top: 19px;
}
#third{
    top: -77px;
}
#institute{
    top: 20px;
    left: 130px;
}
main>:nth-child(4)>:nth-child(3)>h1{
    position: relative;
    color: white;
    font-size: 25px;
    top: 0;
    left: 588px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(1){
    position: relative;
    left: 449px;
    top: 191px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(2){
    position: relative;
    left: 206px;
    top: 79px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(3){
    position: relative;
    left: 374px;
    top: 76px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(4){
    position: relative;
    left: 780px;
    top: 76px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(5){
    position: relative;
    left: 8px;
    top: 192px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(6){
    position: relative;
    left: -57px;
    top: 311px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(7){
    position: relative;
    left: 64px;
    top: 311px;
    border-radius: 20px;

}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(8){
    position: relative;
    left: 412px;
    top: 185px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(9){
    position: relative;
    left: 216px;
    top: 76px;
    border-radius: 20px;

}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(10){
    position: relative;
    left: 92px;
    top: 190px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(3)>article>img:nth-child(11){
    position: relative;
    left: -16px;
    top: 311px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(4)>h1{
    position: relative;
    color: white;
    font-size: 25px;
    top: 355px;
    left: 588px;
}
main>:nth-child(4)>:nth-child(4)>article>:nth-child(2){
    position: relative;
    left: -9px;
    top: 402px;

}
main>:nth-child(4)>:nth-child(4)>article>:nth-child(3){
    position: relative;
    left: 120px;
    top: 587px;
}
main>:nth-child(4)>:nth-child(4)>article>:nth-child(1){
    position: relative;
    left: 887px;
    top: 402px;
}
main>:nth-child(4)>:nth-child(4)>article>:nth-child(4){
    position: relative;
    display: inline-block;
    color: white;
    font-size: 18px;
    left: -386px;
    top: 398px;
}
main>:nth-child(4)>:nth-child(4)>article>:nth-child(5){
    position: relative;
    display: inline-block;
    color: white;
    font-size: 18px;
    left: -198px;
    top: 584px;

}
main>:nth-child(4)>:nth-child(4)>article>:nth-child(6){
    position: relative;
    display: inline-block;
    color: white;
    font-size: 18px;
    left: 14px;
    top: 400px;
}








/*           Achievement                  */


main>section:nth-child(5){
    position: relative;
    background: rgba(17, 17, 20, 1);
    top:  9px;
    height: 105vh;
    width: 98.5vw;
}

main>:nth-child(5)>h1{
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: white;
    top: 14px;
    left: 487px;
}

main>:nth-child(5)>article>img:nth-child(1){
    position: relative;
    top: 62px;
    left: 115px;
}

main>:nth-child(5)>article>img:nth-child(2){
    position: relative;
    top: 160px;
    left:  238px;
}
main>:nth-child(5)>article>:nth-child(3){
    position: relative;
    top: 62px;
    left: 361px;
}










/*               projects                    */
main>:nth-child(6){
    position: relative;
    background: url("assest/img/project.png");
    background-size: cover;
    background-position: center;
    top: 10px;
    height: 198vh;
    width: 98.5vw;
}
.adddiv{
position: absolute;
height: 660px;
width: 549px;
left: 607px;
top: 211px;
border-radius: 30px;
background: #AAAAAA29;
}
main>:nth-child(6)>h1{
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: white;
    top: -131px;
    left: 588px;

}
main>:nth-child(6)>h3{
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: white;
    top: 746px;
    left: -890px;
}

main>:nth-child(6)>img:nth-child(1){
    position: relative;
    top: 275px;
    left: -79px;
}

main>:nth-child(6)>img:nth-child(2){
    position: relative;
    top: 278px;
    left: -68px;
    width: 387px;
    height: 265px;
    z-index: 1;
}

main>:nth-child(6)>aside>div>p{
    position: relative;
    display: inline-block;
    color: white;
    width: 456px;
    height: 500px;
    top: -12px;
    left:  660px;
    font-size: 23px;
    border-radius: 30px;
}
main>:nth-child(6)>img:nth-child(3){
    position: relative;
    top: 454px;
    left: -346px;
    width: 387px;
    height: 265px;
}
main>:nth-child(6)>:nth-child(4){
    position: relative;
    top: 743px;
    left: -880px;
}
main>:nth-child(6)>:nth-child(6){
    position: relative;
    top: 714px;
    left: -374px;
}
main>:nth-child(6)>:nth-child(8){
    position: relative;
    top: 710px;
    left: 695px;
}

main>:nth-child(6)>:nth-child(7){
    position: relative;
    display: inline-block;
    top: 714px;
    left: -370px;
}

main>:nth-child(6)>:nth-child(7){
    position: relative;
    display: inline-block;
    top: 704px;
    left: 868px;
}
main>:nth-child(6)>:nth-child(9){
    position: relative;
    display: inline-block;
    top: 642px;
    left: 704px;
}



















/*               Assignments                    */

main>:nth-child(7){
    position: relative;
    background: #111114;
    top: 11px;
    height: 128vh;
    width: 98.5vw;
}
main>:nth-child(7)>h1{
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: white;
    top: 28px;
    left: 462px;

}
main>:nth-child(7)>article>img:nth-child(1){
    position: relative;
    left: 86px;
    top: 82px;
    z-index: 1;
}
main>:nth-child(7)>article>img:nth-child(2){
    position: relative;
    left: 297px;
    top: 159px;
}
main>:nth-child(7)>article>img:nth-child(3){
    position: relative;
    left: 521px;
    top: 3px;
}
main>:nth-child(7)>article>h3:nth-child(4) {
    position: relative;
    display: inline-block;
    left: -482px;
    top: 111px;
    color: white;
    z-index: 1;
}
main>:nth-child(7)>article>h3:nth-child(5) {
    position: relative;
    display: inline-block;
    left: -192px;
    top: 191px;
    color: white;
}
main>:nth-child(7)>article>h3:nth-child(6) {
    position: relative;
    display: inline-block;
    left: 115px;
    top: 37px;
    color: white;
}
main>:nth-child(7)>article>img:nth-child(7){
    position: relative;
    width: 254px;
    height: 341px;
    left: 116px;
    top: 422px;
}
main>:nth-child(7)>article>img:nth-child(8){
    position: relative;
    width: 254px;
    height:281px;
    left: -321px;
    top: -243px;
}
















  /*       contact me         */


footer{
    position: relative;
    background: #111114;
    top: -9px;
    height: 110vh;
    width: 98.5vw;
}
footer>:nth-child(1)>h1>:nth-child(1){
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: white;
    top: 28px;
    left: 588px;
}
/*           say hii!    */

footer>:nth-child(1)>h1:nth-child(2){
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: white;
    top: 28px;
    left: 146px;
}

/*             add a my image  */

#footerpic{
    position: relative;
    left: 1026px;
    top: 64px;
    width: 200px;
    height: 200px;
}

/*    message box */
footer>:nth-child(1)>:nth-child(3)>aside>:nth-child(1){
    position: relative;
    display: inline-block;
    border-radius: 30px;
    color: white;
    left: 715px;
    top:  117px;
    width: 322px;
    height: 159px;
}
footer>:nth-child(1)>:nth-child(3)>aside>:nth-child(2){
    position: relative;
    display: inline-block;
    border-radius: 30px;
    color: white;
    left: -192px;
    top: 38px;
    width: 234px;
    height: 33px;
}
footer>:nth-child(1)>:nth-child(3)>aside>:nth-child(3){
    position: relative;
    display: inline-block;
    border-radius: 30px;
    color: white;
    left: -436px;
    top: 116px;
    width: 234px;
    height: 33px;
}


/*    add a send button */

.favoritestyled{
    position: relative;
    display: inline-block;
    border-radius: 30px;
    color: white;
    left: 935px;
    top: 163px;
    width: 115px;
    height: 40px;
    background: red;
    font-weight: bold;
}
/* add git icon */


#giticon{
    position: relative;
    left: -143px;
    top: 57px;
}
#facicon{
    position: relative;
    left: 421px;
    top: 57px;
}
#linkicon{
    position: relative;
    left: 195px;
    top: 57px;
}
#twiter{
    position: relative;
    left: 33px;
    top: 57px;
}

footer>section>:nth-child(5)>:nth-child(1){
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: white;
    left: 76px;
    top: -123px;

}
footer>section>:nth-child(5)>:nth-child(3){
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: white;
    left: 76px;
    top: -112px;

}
footer>section>:nth-child(5)>:nth-child(2)>a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    left: 171px;
    top: -144px;

}
footer>section>:nth-child(5)>:nth-child(4)>a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    left: 157px;
    top: -131px;

}





























